/*.xcodeproj/xcuserdata
/*.xcworkspace/xcuserdata
/*.xcodeproj/*.xcworkspace/xcuserdata
/Build
/Documentation

# For test Bots in Xcode 5 to work, the below ignores / exemptions have to be
# toggled off.
/Pods
!/Pods/Pods-acknowledgements

# For test Bots in Xcode 5 to work, the below ignores / exemptions have to be
# toggled on.
#/Pods/BuildHeaders

